EMAIL_ACCOUNT=your_email@gmail.com
APP_PASS=your_app_password
EMAIL_SENDER_WATCH_LIST=sender1@example.com,sender2@example.com
# Optional:
# IMAP_SERVER=imap.gmail.com
# IMAP_PORT=993
# EMAIL_PROCESS_LOG_PATH=email.process.log
# SMTP_SERVER=smtp.gmail.com
# SMTP_PORT=587
